.root {
    background-color: #262626;
    color: #ffffff;
    padding: 32px 0;
    margin: 0;
}

.link {
    color: #fff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}